.margin-top-40
  .row
    .large-12.columns
      %h3 Earn Points
      %p Points can be earned through doing things. Blah blah blah, post on facebook and like our pages!
      = link_to "Share your location", share_location_path, class: 'f-btn-primary small'
      = link_to "Request a venue", request_venue_path, class: 'f-btn-primary small'
      = link_to "Earn Points", new_point_path, class: 'f-btn-primary small'
