.margin-top-40
  .row
    .large-12.columns

      %h1 Request Points for #{@effort.name}
      %p Please attach a screenshot as proof, we will verify and reward you accordingly.

      = render 'form'

