.form-group{class: attribute.errors? ? "has-error" : ""}
  %label{for: attribute.form_id}
    = 'Uploader Id'
  - if attribute.editable? && f = form_builder
    .enum
      = f.collection_select :uploader_id, User.band_members.order(:name), :id, :name, include_blank: false

  - else
    %p.well
      = attribute.value
