.form-group{class: attribute.errors? ? "has-error" : ""}
  - if attribute.editable? && f = form_builder
    %label{for: attribute.form_id}
      = 'Content Upload Type'
    .select
      = f.collection_select :asset_type, Content.asset_types, :last, :first, include_blank: true
