.grid-container.margin-top-40
  .text-center.margin-vertical-20
    %a.f-btn-primary.filter-btn.small.active{:href => "filter_all"} All
    %a.f-btn-primary.filter-btn.small{:href => "filter_images"} Images
    %a.f-btn-primary.filter-btn.small{:href => "filter_music"} Music
  #hidden-grid.hide
  #fictionist-grid.transitions-enabled.centered.clearfix
    - Content.all.each do |content|
      .box.col2
        - if content.asset_content_type == "image/jpeg"
          = image_tag(content.asset.url(:thumb), class: 'item image')
        - if content.asset_content_type == "audio/mpeg"
          = link_to content.asset.url, class: 'item music' do
            = image_tag('music-thumb.png')


