.row
  .large-12.columns.text-center.margin-top-60
    %ul.large-block-grid-10.medium-block-grid-8.small-block-grid-6.fictionist-grid
      - Content.all.each do |item|
        - 40.times do
          - if item.view_permission == 'free'
            %li.free-content= image_tag(item.asset.url(:thumb))

.row
  .large-12.columns.text-center.margin-top-60
    %h1 Fictionist quick styles


    %p.margin-top-40
      We want to keep this as simple as possible. Use black and white for now, alert and success colors are acceptable for flashes.

    %p.margin-top-40
      Buttons use the
      %code
        f-btn-primary
      class
      = link_to "button", root_path, class: 'f-btn-primary margin-left-20'
    %p
      and you can add a
      %code
        small
      class
      = link_to "button", root_path, class: 'f-btn-primary small margin-left-20'
