.row
  .large-12.columns.text-center.margin-top-60
    %h1 Fictionist quick styles


    %p.margin-top-40
      Buttons use the
      %code
        f-btn-primary
      class
      = link_to "button", root_path, class: 'f-btn-primary margin-left-20'
