.row
  .large-12.columns.text-center.margin-top-60
    = image_tag('logo.jpeg')

  .large-12.columns.text-center.margin-top-50
    = link_to "Sign In", new_user_session_path, class: 'f-btn-primary margin-20'
    = link_to "Register", new_user_registration_path, class: 'f-btn-primary margin-20'
