$("#efforts").replaceWith("<%= escape_javascript render('efforts/award_table') %>");
$(".notification-container").html('<div class="message-panel alert-box success" data-alert="" id="flashes"> <div>Points were requested.</div> <a class="close" href="#">×</a> </div>')

$(function() {
  $('.notification-container a.close').on('click', function() {
    return $(this).parent().fadeOut();
  });
  if ($('.notification-panel').is(':visible')) {
    return setTimeout((function() {
      return $('.notification-container .message-panel').fadeOut();
    }), 8000);
  }
});
