.row
  .small-12.columns
    %h1 We will explain how to earn points here.
    = link_to "Request Points", new_effort_path, class: 'f-btn-primary'

.margin-top-40
  .row
    .small-6.columns
      %p
        %strong :location
        \=> shares location information
      %p
        %strong :request
        \=> requests a concert location
      %p
        %strong :playlist
        \=> makes a spotify playlist
      %p
        %strong :blog
        \=> writes a post
      %p
        %strong :content
        \=> uploads a photo / song?
    .small-6.columns
      %p
        %strong :like_fb
        \=> facebook
      %p
        %strong :like_tw
        \=> twitter
      %p
        %strong :like_ig
        \=> instagram
      %p
        %strong :like_yt
        \=> youtube
      %p
        %strong :post_fb
        \=> facebook
      %p
        %strong :post_tw
        \=> twitter
      %p
        %strong :post_ig
        \=> instagram
      %p
        %strong :post_yt
        \=> youtube
