@import "masonry/basic";
@import "masonry/centered";
@import "masonry/fluid";
@import "masonry/gutters";
@import "masonry/infinitescroll";
@import "masonry/right-to-left";
@import "masonry/transitions";
@import "font-awesome";

@import "variables";
@import "mixins";
@import "utility_classes";
@import "custom_foundation";
@import "grid";
@import "points";
@import "efforts";

.locked {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="1" /></filter></svg>#filter');
  -webkit-filter: grayscale(1) blur(8.5px);
          filter: grayscale(1) blur(8.5px);
  filter: gray progid:DXImageTransform.Microsoft.Blur(pixelradius=8.5);
}
