.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;

  #fictionist-grid {
    .grid-box {
      background: transparent;
      position: relative;
      .hover-caption {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.75);
        color: white;
        margin: 5px;
        padding: 10px 20px;
      }
      @media (min-width: 40em) {
        &.show-icon.locked-block:after {
          font-family: 'FontAwesome';
          content: '\f023';
          font-size: 4.5em;
          position: absolute;
          bottom: 30px;
          right: 20px;
          opacity: 0.8;
          color: white;
          text-shadow: 0 0 5px rgba(0,0,0,0.75);
        }
      }
    }
    @media (max-width: 40em) {
      .grid-box {
        position: static !important;
        left: auto !important;
        top: auto !important;
        width: 100%;
        img, .text-div {
          margin: 0 auto;
        }
      }
    }
  }
}
// keeping it outside because it can be used in more places then the grid
div.item.text-div {
  min-height: 170px;
  min-width: 170px;
  background-color: black;

  h3.text{
    color: white;
    padding: 10px;
  }
}
