// Place all the styles related to the points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.effort-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  li {
    position: relative;
    margin: 40px 0;
    .effort-badge {
      text-align: center;
      position: absolute;
      font-size: 2em;
      padding: 20px 0;
      width: 75px;
      height: 75px;
      left: -7px;
      top: -15px;
      background: black;
      color: white;
    }
    a {
      width: 90%;
      margin-left: 10%;
      text-align: center;
    }
  }
}
