$black:          #000;
$white:          #fff;
$mid-tone:       #9ea7ad;
$lighter-tone:   lighten($mid-tone, 30%);
$light-tone:     lighten($mid-tone, 15%);
$dark-tone:      darken($mid-tone, 30%);
$darker-tone:    darken($mid-tone, 45%);

$primary-color: $black !default;   // bondi-blue
$secondary-color: $mid-tone !default; // white-lilac
$alert-color: #f04124 !default;     // cinnabar
$success-color: #43AC6A !default;   // sea-green
$warning-color: #f08a24 !default;   // carrot
$info-color: #a0d3e8 !default;      // cornflower

$white         : #FFFFFF !default;
$ghost         : #FAFAFA !default;
$snow          : #F9F9F9 !default;
$vapor         : #F6F6F6 !default;
$white-smoke   : #F5F5F5 !default;
$silver        : #EFEFEF !default;
$smoke         : #EEEEEE !default;
$gainsboro     : #DDDDDD !default;
$iron          : #CCCCCC !default;
$base          : #AAAAAA !default;
$aluminum      : #999999 !default;
$jumbo         : #888888 !default;
$monsoon       : #777777 !default;
$steel         : #666666 !default;
$charcoal      : #555555 !default;
$tuatara       : #444444 !default;
$oil           : #333333 !default;
$jet           : #222222 !default;
$black         : #000000 !default;

$red:            #e54729;
$sky-blue:       invert($red);
$blue:           #002e62;
$yellow:         #ffcc00;
$green:          lighten(#55a602,8.5%);
