!!!
%html{:style => "", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    / NAME: 1 COLUMN
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= @subject
    :css
      body,#bodyTable,#bodyCell{
      height:100% !important;
      margin:0;
      padding:0;
      width:100% !important;
      }
      table{
      border-collapse:collapse;
      }
      img,a img{
      border:0;
      outline:none;
      text-decoration:none;
      }
      h1,h2,h3,h4,h5,h6{
      margin:0;
      padding:0;
      }
      p{
      margin:1em 0;
      padding:0;
      }
      a{
      word-wrap:break-word;
      }
      .ReadMsgBody{
      width:100%;
      }
      .ExternalClass{
      width:100%;
      }
      .ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div{
      line-height:100%;
      }
      table,td{
      mso-table-lspace:0pt;
      mso-table-rspace:0pt;
      }
      #outlook a{
      padding:0;
      }
      img{
      -ms-interpolation-mode:bicubic;
      }
      body,table,td,p,a,li,blockquote{
      -ms-text-size-adjust:100%;
      -webkit-text-size-adjust:100%;
      }
      #bodyCell{
      padding:20px;
      }
      .mcnImage{
      vertical-align:bottom;
      }
      .mcnTextContent img{
      height:auto !important;
      }
      body,#bodyTable{
      background-color:#ffffff;
      }
      #bodyCell{
      border-top:0;
      }
      #templateContainer{
      border:0;
      }
      h1{
      color:#606060 !important;
      display:block;
      font-family:Helvetica;
      font-size:40px;
      font-style:normal;
      font-weight:bold;
      line-height:125%;
      letter-spacing:-1px;
      margin:0;
      text-align:left;
      }
      h2{
      color:#404040 !important;
      display:block;
      font-family:Helvetica;
      font-size:26px;
      font-style:normal;
      font-weight:bold;
      line-height:125%;
      letter-spacing:-.75px;
      margin:0;
      text-align:left;
      }
      h3{
      color:#606060 !important;
      display:block;
      font-family:Helvetica;
      font-size:18px;
      font-style:normal;
      font-weight:bold;
      line-height:125%;
      letter-spacing:-.5px;
      margin:0;
      text-align:left;
      }
      h4{
      color:#808080 !important;
      display:block;
      font-family:Helvetica;
      font-size:16px;
      font-style:normal;
      font-weight:bold;
      line-height:125%;
      letter-spacing:normal;
      margin:0;
      text-align:left;
      }
      #templatePreheader{
      background-color:#FFFFFF;
      border-top:0;
      border-bottom:0;
      }
      .preheaderContainer .mcnTextContent,.preheaderContainer .mcnTextContent p{
      color:#606060;
      font-family:Helvetica;
      font-size:11px;
      line-height:125%;
      text-align:left;
      }
      .preheaderContainer .mcnTextContent a{
      color:#606060;
      font-weight:normal;
      text-decoration:underline;
      }
      #templateHeader{
      background-color:#FFFFFF;
      border-top:0;
      border-bottom:0;
      }
      .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
      color:#606060;
      font-family:Helvetica;
      font-size:15px;
      line-height:150%;
      text-align:left;
      }
      .headerContainer .mcnTextContent a{
      color:#6DC6DD;
      font-weight:normal;
      text-decoration:underline;
      }
      #templateBody{
      background-color:#FFFFFF;
      border-top:0;
      border-bottom:0;
      }
      .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
      color:#606060;
      font-family:Helvetica;
      font-size:15px;
      line-height:150%;
      text-align:left;
      }
      .bodyContainer .mcnTextContent a{
      color:#6DC6DD;
      font-weight:normal;
      text-decoration:underline;
      }
      #templateFooter{
      background-color:#FFFFFF;
      border-top:0;
      border-bottom:0;
      }
      .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
      color:#606060;
      font-family:Helvetica;
      font-size:11px;
      line-height:125%;
      text-align:left;
      }
      .footerContainer .mcnTextContent a{
      color:#606060;
      font-weight:normal;
      text-decoration:underline;
      }
      @media only screen and (max-width: 480px){
      body,table,td,p,a,li,blockquote{
      -webkit-text-size-adjust:none !important;
      }
      } @media only screen and (max-width: 480px){
      body{
      width:100% !important;
      min-width:100% !important;
      }
      } @media only screen and (max-width: 480px){
      td[id=bodyCell]{
      padding:10px !important;
      }
      } @media only screen and (max-width: 480px){
      table[class=mcnTextContentContainer]{
      width:100% !important;
      }
      } @media only screen and (max-width: 480px){
      table[class=mcnBoxedTextContentContainer]{
      width:100% !important;
      }
      } @media only screen and (max-width: 480px){
      table[class=mcpreview-image-uploader]{
      width:100% !important;
      display:none !important;
      }
      } @media only screen and (max-width: 480px){
      img[class=mcnImage]{
      width:100% !important;
      }
      } @media only screen and (max-width: 480px){
      table[class=mcnImageGroupContentContainer]{
      width:100% !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=mcnImageGroupContent]{
      padding:9px !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=mcnImageGroupBlockInner]{
      padding-bottom:0 !important;
      padding-top:0 !important;
      }
      } @media only screen and (max-width: 480px){
      tbody[class=mcnImageGroupBlockOuter]{
      padding-bottom:9px !important;
      padding-top:9px !important;
      }
      } @media only screen and (max-width: 480px){
      table[class=mcnCaptionTopContent],table[class=mcnCaptionBottomContent]{
      width:100% !important;
      }
      } @media only screen and (max-width: 480px){
      table[class=mcnCaptionLeftTextContentContainer],table[class=mcnCaptionRightTextContentContainer],table[class=mcnCaptionLeftImageContentContainer],table[class=mcnCaptionRightImageContentContainer],table[class=mcnImageCardLeftTextContentContainer],table[class=mcnImageCardRightTextContentContainer]{
      width:100% !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=mcnImageCardLeftImageContent],td[class=mcnImageCardRightImageContent]{
      padding-right:18px !important;
      padding-left:18px !important;
      padding-bottom:0 !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=mcnImageCardBottomImageContent]{
      padding-bottom:9px !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=mcnImageCardTopImageContent]{
      padding-top:18px !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=mcnImageCardLeftImageContent],td[class=mcnImageCardRightImageContent]{
      padding-right:18px !important;
      padding-left:18px !important;
      padding-bottom:0 !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=mcnImageCardBottomImageContent]{
      padding-bottom:9px !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=mcnImageCardTopImageContent]{
      padding-top:18px !important;
      }
      } @media only screen and (max-width: 480px){
      table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent],table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent]{
      padding-top:9px !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent]{
      padding-top:18px !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=mcnBoxedTextContentColumn]{
      padding-left:18px !important;
      padding-right:18px !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=mcnTextContent]{
      padding-right:18px !important;
      padding-left:18px !important;
      }
      } @media only screen and (max-width: 480px){
      table[id=templateContainer],table[id=templatePreheader],table[id=templateHeader],table[id=templateBody],table[id=templateFooter]{
      max-width:600px !important;
      width:100% !important;
      }
      } @media only screen and (max-width: 480px){
      h1{
      font-size:24px !important;
      line-height:125% !important;
      }
      } @media only screen and (max-width: 480px){
      h2{
      font-size:20px !important;
      line-height:125% !important;
      }
      } @media only screen and (max-width: 480px){
      h3{
      font-size:18px !important;
      line-height:125% !important;
      }
      } @media only screen and (max-width: 480px){
      h4{
      font-size:16px !important;
      line-height:125% !important;
      }
      } @media only screen and (max-width: 480px){
      table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent],td[class=mcnBoxedTextContentContainer] td[class=mcnTextContent] p{
      font-size:18px !important;
      line-height:125% !important;
      }
      } @media only screen and (max-width: 480px){
      table[id=templatePreheader]{
      display:block !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=preheaderContainer] td[class=mcnTextContent],td[class=preheaderContainer] td[class=mcnTextContent] p{
      font-size:14px !important;
      line-height:115% !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=headerContainer] td[class=mcnTextContent],td[class=headerContainer] td[class=mcnTextContent] p{
      font-size:18px !important;
      line-height:125% !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=bodyContainer] td[class=mcnTextContent],td[class=bodyContainer] td[class=mcnTextContent] p{
      font-size:18px !important;
      line-height:125% !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=footerContainer] td[class=mcnTextContent],td[class=footerContainer] td[class=mcnTextContent] p{
      font-size:14px !important;
      line-height:115% !important;
      }
      } @media only screen and (max-width: 480px){
      td[class=footerContainer] a[class=utilityLink]{
      display:block !important;
      }
      }
  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :offset => "0", :style => "margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;height: 100% !important;width: 100% !important;", :topmargin => "0"}
    %center
      %table#bodyTable{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;background-color: #ffffff;height: 100% !important;width: 100% !important;", :width => "100%"}
        %tbody
          %tr
            %td#bodyCell{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 20px;border-top: 0;height: 100% !important;width: 100% !important;", :valign => "top"}
              / BEGIN TEMPLATE //
              %table#templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;", :width => "600"}
                %tbody
                  %tr
                    %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                      / BEGIN PREHEADER //
                      %table#templatePreheader{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;", :width => "600"}
                        %tbody
                          %tr
                            %td.preheaderContainer{:style => "padding-top: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                      / // END PREHEADER
                  %tr
                    %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                      / BEGIN HEADER //
                      %table#templateHeader{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;", :width => "600"}
                        %tbody
                          %tr
                            %td.headerContainer{:style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                              %table.mcnImageBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                %tbody.mcnImageBlockOuter
                                  %tr
                                    %td.mcnImageBlockInner{:style => "padding: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                      %table.mcnImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                        %tbody
                                          %tr
                                            %td.mcnImageContent{:style => "padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                              %img.mcnImage{:align => "left", :alt => "", :src => "https://gallery.mailchimp.com/fc3308e5c032ccd2242f2a64b/images/c7c01c64-7c57-41cd-89fb-a3e3707f7920.jpg", :style => "max-width: 200px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;", :width => "100"}/
                      / // END HEADER
                  %tr
                    %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                      / BEGIN BODY //
                      %table#templateBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;", :width => "600"}
                        %tbody
                          %tr
                            %td.bodyContainer{:style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                              %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                %tbody.mcnTextBlockOuter
                                  %tr
                                    %td.mcnTextBlockInner{:style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                      %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "600"}
                                        %tbody
                                          %tr
                                            %td.mcnTextContent{:style => "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;", :valign => "top"}
                                              %h4.null{:style => "margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 16px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;text-align: left;color: #808080 !important;"} Hello, #{@resource.email}
                                              %p{:style => "margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;"} You can confirm your account email through the link below:
                                              %div{:style => "color: #222222;font-family: arial, sans-serif;line-height: normal;"}  
                                              %div{:style => "color: #222222;font-family: arial, sans-serif;line-height: normal;"}
                                                %a{:href => "#{confirmation_url(@resource, confirmation_token: @token)}", :style => "font-family: arial,sans-serif;line-height: normal;"} Confirm my account!
                              %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                %tbody.mcnTextBlockOuter
                                  %tr
                                    %td.mcnTextBlockInner{:style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                      %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "600"}
                                        %tbody
                                          %tr
                                            %td.mcnTextContent{:style => "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;", :valign => "top"}
                                              %div{:style => "color: #222222;font-family: arial, sans-serif;line-height: normal;"} @fictionistnoise
                                              %div{:style => "color: #222222;font-family: arial, sans-serif;line-height: normal;"} #fictionist
                              %table.mcnFollowBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                %tbody.mcnFollowBlockOuter
                                  %tr
                                    %td.mcnFollowBlockInner{:align => "center", :style => "padding: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                      %table.mcnFollowContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                        %tbody
                                          %tr
                                            %td{:align => "center", :style => "padding-left: 9px;padding-right: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                              %table.mcnFollowContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border: 1px solid #EEEEEE;background-color: #FFFFFF;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                                %tbody
                                                  %tr
                                                    %td{:align => "center", :style => "padding-top: 9px;padding-right: 9px;padding-left: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                                        %tbody
                                                          %tr
                                                            %td{:style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                                              %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                                                %tbody
                                                                  %tr
                                                                    %td.mcnFollowContentItemContainer{:style => "padding-right: 10px;padding-bottom: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                                                      %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                                                        %tbody
                                                                          %tr
                                                                            %td{:align => "left", :style => "padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle"}
                                                                              %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => ""}
                                                                                %tbody
                                                                                  %tr
                                                                                    %td.mcnFollowIconContent{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle", :width => "24"}
                                                                                      %a{:href => "http://www.facebook.com/fictionistnoise", :style => "word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :target => "_blank"}
                                                                                        %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png", :style => "display: block;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;", :width => "24"}/
                                                              /[if gte mso 6]
                                                                </td>
                                                                <td align="left" valign="top">
                                                              %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                                                %tbody
                                                                  %tr
                                                                    %td.mcnFollowContentItemContainer{:style => "padding-right: 10px;padding-bottom: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                                                      %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                                                        %tbody
                                                                          %tr
                                                                            %td{:align => "left", :style => "padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle"}
                                                                              %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => ""}
                                                                                %tbody
                                                                                  %tr
                                                                                    %td.mcnFollowIconContent{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle", :width => "24"}
                                                                                      %a{:href => "http://www.twitter.com/fictionistnoise", :style => "word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :target => "_blank"}
                                                                                        %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", :style => "display: block;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;", :width => "24"}/
                                                              /[if gte mso 6]
                                                                </td>
                                                                <td align="left" valign="top">
                                                              %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                                                %tbody
                                                                  %tr
                                                                    %td.mcnFollowContentItemContainer{:style => "padding-right: 10px;padding-bottom: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                                                      %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                                                        %tbody
                                                                          %tr
                                                                            %td{:align => "left", :style => "padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle"}
                                                                              %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => ""}
                                                                                %tbody
                                                                                  %tr
                                                                                    %td.mcnFollowIconContent{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle", :width => "24"}
                                                                                      %a{:href => "http://instagram.com/fictionistnoise", :style => "word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :target => "_blank"}
                                                                                        %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png", :style => "display: block;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;", :width => "24"}/
                                                              /[if gte mso 6]
                                                                </td>
                                                                <td align="left" valign="top">
                                                              %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                                                %tbody
                                                                  %tr
                                                                    %td.mcnFollowContentItemContainer{:style => "padding-right: 10px;padding-bottom: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                                                      %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                                                        %tbody
                                                                          %tr
                                                                            %td{:align => "left", :style => "padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle"}
                                                                              %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => ""}
                                                                                %tbody
                                                                                  %tr
                                                                                    %td.mcnFollowIconContent{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle", :width => "24"}
                                                                                      %a{:href => "http://www.youtube.com/channel/UCuUTClopR10Yf8CXdk0pBdg", :style => "word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :target => "_blank"}
                                                                                        %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/color-youtube-48.png", :style => "display: block;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;", :width => "24"}/
                                                              /[if gte mso 6]
                                                                </td>
                                                                <td align="left" valign="top">
                                                              %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                                                %tbody
                                                                  %tr
                                                                    %td.mcnFollowContentItemContainer{:style => "padding-right: 0;padding-bottom: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                                                      %table.mcnFollowContentItem{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                                                        %tbody
                                                                          %tr
                                                                            %td{:align => "left", :style => "padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle"}
                                                                              %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => ""}
                                                                                %tbody
                                                                                  %tr
                                                                                    %td.mcnFollowIconContent{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "middle", :width => "24"}
                                                                                      %a{:href => "http://fictionist.com", :style => "word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :target => "_blank"}
                                                                                        %img{:height => "24", :src => "http://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png", :style => "display: block;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;", :width => "24"}/
                                                              /[if gte mso 6]
                                                                </td>
                                                                <td align="left" valign="top">
                              %table.mcnDividerBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                %tbody.mcnDividerBlockOuter
                                  %tr
                                    %td.mcnDividerBlockInner{:style => "padding: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                      %table.mcnDividerContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-top-width: 1px;border-top-style: solid;border-top-color: #999999;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                        %tbody
                                          %tr
                                            %td{:style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                              %span
                      / // END BODY
                  %tr
                    %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                      / BEGIN FOOTER //
                      %table#templateFooter{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;", :width => "600"}
                        %tbody
                          %tr
                            %td.footerContainer{:style => "padding-bottom: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                              %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                %tbody.mcnTextBlockOuter
                                  %tr
                                    %td.mcnTextBlockInner{:style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                      %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "600"}
                                        %tbody
                                          %tr
                                            %td.mcnTextContent{:style => "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align: left;", :valign => "top"}
                                              %em
                                                Copyright ©#{Time.now.year} Fictionist, All rights reserved.
                      / // END FOOTER
              / // END TEMPLATE
