.margin-top-40
  .row
    .large-12.columns

      %h1 Your Uploaded Content
      .margin-bottom-40
        = link_to "New Content", new_upload_path, class: 'f-btn-primary'

      %table
        %thead
          %tr
            %th{width: 600} Message
            %th{width: 200} Image
            %th{width: 200}
        %tbody
          - @contents.each do |content|
            %tr
              %td= content.message
              %td
                = place_asset(content)
              %td
                = link_to "Edit", edit_upload_path(content), class: 'f-btn-primary small'


