%nav.top-bar{"data-topbar" => true, role: "navigation"}
  %ul.title-area
    %li.name
      %h1
        = link_to root_path do
          Fictionist
          %span.thin Noise
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span
  %section.top-bar-section
    %ul.right
      = render 'layouts/navigation_links'
